[submodule "themes/novela"]
	path = themes/novela
	url = https://github.com/forestryio/hugo-theme-novela.git
[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium.git
[submodule "themes/hugo-faris"]
	path = themes/hugo-faris
	url = https://github.com/the2ne/hugo-frais.git
[submodule "themes/harbor"]
	path = themes/harbor
	url = https://github.com/matsuyoshi30/harbor.git
[submodule "themes/tale"]
	path = themes/tale
	url = https://github.com/EmielH/tale-hugo.git
[submodule "themes/ezhil"]
	path = themes/ezhil
	url = https://github.com/vividvilla/ezhil.git
[submodule "themes/fuji"]
	path = themes/fuji
	url = https://github.com/amzrk2/hugo-theme-fuji.git
[submodule "hugo-kiera"]
	path = hugo-kiera
	url = https://github.com/funkydan2/hugo-kiera.git
