{{ with .Site.Params.favicon}}
<link rel="shortcut icon" href="{{ . }}" />
{{ end }}


<!-- https://stackoverflow.com/questions/40624515/load-google-font-with-link-asynchronously-or-deferred-without-font-face-observ -->
<!-- https://paulund.co.uk/load-google-fonts-async -->
<link rel="preload" as="styles" href='{{ "fontawesome/css/all.min.css" | absURL }}'
  onload="this.onload=null;this.rel='stylesheet'" />
<link rel="preload" as="styles" href="https://fonts.googleapis.com/css?family=Roboto+Slab|Ruda"
  onload="this.onload=null;this.rel='stylesheet'" />
<noscript>
  <link rel="stylesheet" href="{{ "fontawesome/css/all.min.css" | absURL }}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab|Ruda" />
</noscript>
<link rel="stylesheet" type="text/css" href="{{ "css/styles.css" | relURL}}" />
<!-- favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
{{- range .Site.Params.customCSS -}}
<link rel='stylesheet' href='{{ . | absURL }}'>
{{- end -}}
